.main-content {
    margin-top: 56px;
    padding-bottom: 50px;
    background-color: white;
    overflow-y: auto;
}
.app-footer{
    font-size: 11px;
}
.app-footer .copyrights, .app-footer .right-reserved {
    color: gray;
}
.app-footer .company-name {
    padding-left: 5px;
    padding-right: 5px;
}
.checkbox-group li {
    list-style-type: none;
}

.filter-panel {
    border-right: 1px solid lightgray;
}

.range-button {
    margin: 0;
    cursor: pointer;
    padding: 2px 20px;
}

.range-button.selected {
    background: green;
    color: white;
}

.full-width {
    width: 100%;
}
.book-card {
    margin-bottom: 20px;
}